{{render "toolbar"}}
<div class="row">
  <div class="col-md-2">
    {{render "library"}}
  </div>
  <div class="col-md-8">
    {{render "arrangement"}}
  </div>
  <div class="col-md-2">
    {{render "chat"}}
  </div>
</div>
{{render "details"}}
