<div id="projects">
  <div class="row buffer-bottom">
    <div class="col-xs-3">
      <button type="button" class="btn btn-primary" {{action "createProject"}}>
        <i class="fa fa-plus"></i> New Project
      </button>
    </div>
    <div class="col-xs-6 text-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default active">All</button>
        <button type="button" class="btn btn-default">Private</button>
        <button type="button" class="btn btn-default">Shared</button>
        <button type="button" class="btn btn-default">Public</button>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="input-group pull-right">
        <input type="text" class="form-control" placeholder="Filter by title...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-filter"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Project Title</th>
          <th>Collaborators</th>
          <th>Public</th>
          <th>Version</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each}}
          <tr>
            <td>
              {{name}}
              <span class="hint--top" data-hint="Edit">
                <button class="btn btn-sm btn-default" {{action "editName" this}}>
                  <i class="fa fa-edit"></i>
                </button>
              </span>
            </td>
            <td>
              <ul>
                {{#each collaborator}}
                  <li>
                    <img {{bind-attr src=gravatarUrl}}>
                    {{name}}
                  </li>
                {{/each}}
              </ul>
            </td>
            <td>
              {{capitalize-first shared}}
              {{#if isPublic}}
                <span class="hint--top" data-hint="Make private">
                  <button class="btn btn-sm btn-default" {{action "toggleIsPublic" this}}>
                    <i class="fa fa-eye-slash"></i>
                  </button>
                </span>
              {{else}}
                <span class="hint--top" data-hint="Make public">
                  <button class="btn btn-sm btn-default" {{action "toggleIsPublic" this}}>
                    <i class="fa fa-eye"></i>
                  </button>
                </span>
              {{/if}}
            </td>
            <td>{{rev}}</td>
            <td>
              <button class="btn btn-sm btn-default" {{action "openProject" this}}>
                <i class="fa fa-edit"></i> Open
              </button>
              <span class="hint--top" data-hint="Preview">
                <button class="btn btn-sm btn-default" {{action "previewProject" this}}>
                  <i class="fa fa-play-circle"></i>
                </button>
              </span>
              <span class="hint--top" data-hint="Duplicate">
                <button class="btn btn-sm btn-default" {{action "duplicateProject" this}}>
                  <i class="fa fa-copy"></i>
                </button>
              </span>
              <span class="hint--top" data-hint="Delete">
                <button class="btn btn-sm btn-default" {{action "deleteProject" this}}>
                  <i class="fa fa-times-circle"></i>
                </button>
              </span>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="100%">
              No projects were found. <a {{action "createProject"}}>Start your first project</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
